body {
    font-family: 'Montserrat', sans-serif;
    /* margin: 0; */
}

section {
    width: 1250px;
}

.flex {
    display: flex;
    margin-bottom: 50px;
    width: 100%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

#female {
    height: 500px;
    width: 400px;
}

span {
    color: orange;
}

.button {
    text-decoration: none;
    border-radius: 30px;
    background: orange;
    color: white;
    font-size: 22px;
    padding: 10px;
}

.half-width {
    width: 50%;
}

.first-blog-left {
    margin-top: 50px;
    margin-left: 100px;
}

.three-width {
    width: 33%;
}

.blog-section {
    background-image: url(./image/banner.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.contact-section {
    /* background: url(./image/banner2.jpg) no-repeat center center fixed; */
    background-image: url(./image/banner2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.contact-section-right {
    padding-top: 95px;
    padding-right: 50px;
    line-height: 35px;
}

.recipe {
    text-align: center;
    padding-bottom: 40px;
    margin-left: 250px;
    margin-right: 250px;
    line-height: 35px;
}

.recipe-items {
    box-shadow: rgb(0 0 0) 1px 5px 15px -4px;
    margin-right: 30px;
    margin-left: 30px;
    border-radius: 15px;
}

.recipe-items-text {
    padding-left: 15px;
    line-height: 30px;
}

#img-three {
    width: 550px;
    height: 308px;
    left: 760px;
    top: 1801px;
    border-radius: 20px;
    padding-top: 10px;
}

.people {
    text-align: center;
}

.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px;
}